@font-face {
    font-family: "Unicode-black";
    src: url("../../assets/Unibody_8_Black.ttf") format("truetype");
}

@font-face {
    font-family: "Unicode-bold";
    src: url("../../assets/Unibody_8_Bold.ttf") format("truetype");
}

$main_pixel_font: "Unicode-black", sans-serif;
$secondary_pixel_font: "Unicode-bold", sans-serif;

$main_font: "Gantari", sans-serif;